<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>Notes Cards</title>
    <style>
      .navbar .navbar-nav .nav-item .nav-link:hover {
        background-color: #616161;
      }
      .navbar {
        padding: 0;
      }
      .navbar .navbar-nav .nav-link {
        padding: 10px;
        transition: 0.4s;
      }
      h3 {
        margin-top: 40px;
        margin-bottom: 40px;
      }
    </style>
  </head>
  <body> 
    <nav class="navbar navbar-inverse navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Notes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/lab-4">Notes Table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold text-white" href="/lab-4/add-note">Add Note</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold text-white" href="/lab-4/note-list">Notes Cards</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h3 class="text-center">Notes Cards</h3>
    <div class="ms-5 me-5 row row-cols-1 row-cols-md-3 g-4 row">
    {% for note in notes %}
    <div class="col">
      <div class="card text-black bg-white mb-3" style="width: 23rem;">
        <div class="card-header">
            <h5 class="card-title">{{note.title}}</h5>
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2">To: {{note.to}}</h6>
            <h6 class="card-subtitle mb-2">From: {{note.fromwho}}</h6>
            <p class="card-text">{{note.message}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </body>
</html>