<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>Notes Table</title>
    <style>
      .navbar .navbar-nav .nav-item .nav-link:hover {
        background-color: #616161;
      }
      .navbar {
        padding: 0;
      }
      .navbar .navbar-nav .nav-link {
        padding: 10px;
        transition: 0.4s;
      }
      table, h3 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Notes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/lab-4">Notes Table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold text-white" href="/lab-4/add-note">Add Note</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold text-white" href="/lab-4/note-list">Notes Card</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <table class="table-bordered table table-hover w-75 p-3">
      <h3 class="text-center">Notes Table</h3>
      <thead class="table-light">
        <tr>
          <th scope="col">To</th>
          <th scope="col">From</th>
          <th scope="col">Title</th>
          <th scope="col">Message</th>
        </tr>
      </thead>
      {% for note in notes %}
        <tr>
          <td>{{ note.to }}</td>
          <td>{{ note.fromwho }}</td>
          <td>{{ note.title }}</td>
          <td>{{ note.message }}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>