<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>Add Note</title>
    <style>
      .navbar .navbar-nav .nav-item .nav-link:hover {
        background-color: #616161;
      }
      .navbar {
        padding: 0;
      }
      .navbar .navbar-nav .nav-link {
        padding: 10px;
        transition: 0.4s;
      }
      form {
        width: 40%;
      }
      h3 {
        margin-top: 40px;
      }
    </style>
  </head>
  <body> 
    <nav class="navbar navbar-inverse navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Notes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/lab-4">Notes Table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold text-white" href="/lab-4/add-note">Add Note</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold text-white" href="/lab-4/note-list">Notes Cards</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h3 class="text-center">Add your note here</h3>
    <form class="position-absolute top-50 start-50 translate-middle" action="" method="POST">
        {%csrf_token%}
          <div class="mb-3">
            <label class="form-label">To</label>
            <input type="text" class="form-control" name="to" maxlength="30">
          </div>
          <div class="mb-3">
            <label class="form-label">From</label>
            <input type="text" class="form-control" name="fromwho" maxlength="30">
          </div>
          <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" name="title" maxlength="30">
          </div>
          <div class="mb-3">
            <span class="form-label">Message</span>
            <textarea class="form-control" name="message"></textarea>
          </div>
          <div class="text-center">
            <input class="btn btn-secondary submit" type="submit" value="Submit">
          </div>
    </form>
  </body>
</html>