<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Notes</title>
    <style>
        .navbar .navbar-nav .nav-item .nav-link:hover {
            background-color: #616161;
            margin: 0;
        }

        .navbar {
            padding: 0;
            margin: 0;
        }

        .navbar .navbar-nav .nav-link {
            padding: 10px;
            transition: 0.4s;
        }

        table,
        h3 {
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
        }

        .btn {
            border: none;
            margin-left: 10px;
            margin-right: 10px;
            align-items: center;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="bi bi-journal"></i>
            </a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold text-white" aria-current="page" href="/lab-4">Notes
                            Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold text-white" href="/lab-4/add-note">Add Note</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold text-white" href="/lab-4/note-list">Notes Card</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <table class="table-bordered table table-hover w-75 p-3">
        <h3 class="text-center">Your notes are here</h3>
        <thead>
            <tr class="table-dark">
                <th scope="col">To</th>
                <th scope="col">From</th>
                <th scope="col">Title</th>
                <th scope="col">Message</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        {% for note in notes %}
        <tr>
            <td>{{ note.to }}</td>
            <td>{{ note.fromwho }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.message }}</td>
            <td style="width: 35%">
                <button style="background-color: rgb(99, 194, 111)" type="button" id="view" class="btn btn-dark"><i
                        class="bi bi-eye"></i> View</button>
                <button style="background-color: rgb(75, 130, 231)" type="button" class="edit btn btn-dark"><i
                        class="bi bi-pen"></i> Edit</button>
                <button style="background-color: rgb(243, 75, 75)" type="button" class="delete btn btn-dark"><i
                        class="bi bi-trash"></i> Delete</button>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>