<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Friend</title>
    <style>
        form{
        align-items: center;
        text-align: center;
        padding: 30px 30px 30px 20px;
        width: 25%;
        background: #b4c0cf;
      }
    </style>
  </head>
  <body>
    <form action="" method="POST">
        <h3>Add Friend</h3>
        {%csrf_token%}
        {{ form.as_p }}
        <input class="submit" type="submit" value="Submit">
    </form>
  </body>
</html>