<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
    <style>
      table {
        border: 1px solid black;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    {% for note in notes %}
      <table>
        <tr>
          <td><b>To</b></td>
          <td>{{ note.to }}</td>
        </tr>
        <tr>
          <td><b>From</b></td>
          <td>{{ note.fromwho }}</td>
        </tr>
        <tr>
          <td><b>Title</b></td>
          <td>{{ note.title }}</td>
        </tr>
        <tr>
          <td><b>Message</b></td>
          <td>{{ note.message }}</td>
        </tr>
      </table>
    {% endfor %}
  </body>
</html>